<title>Pizza Time</title>

<section class="hero py-16">
  <div class="container mx-auto flex items-center justify-between">
    <div class="w-1/3">
      <h6 class="text-lg"><em>Are you hungry?</em></h6>
      <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
      <a href="#menu">
        <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
      </a>
    </div>
    <div class="w-2/3">
      <img src="/img/hero-pizza1.png" alt="" class="rounded-lg">
    </div>
  </div>
</section>

<section class="menu container mx-auto py-24" id="menu">
  <h1 class="text-3xl font-bold mb-16 text-center">Menu</h1>
  <div class="grid grid-cols-4 gap-x-40 gap-y-16">
    <% pizzas.forEach((pizza)=> { %>
      <div class="w-66">
        <img class="mb-4" src="/img/<%= pizza.image %>" alt="">
        <div class="text-center">
          <h2 class="mb-4 text-lg">
            <%= pizza.name %>
          </h2>
          <span class="size py-1 px-4 uppercase text-xs rounded-full">
            <%= pizza.size %>
          </span>
          <div class="flex items-center justify-around mt-6">
            <span class="font-bold text-lg">
              <%= pizza.price %>$
            </span>
            <button data-pizza="<%= JSON.stringify(pizza) %>"
              class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-4">Add</span>
            </button>
          </div>
        </div>
      </div>
      <% }) %>
  </div>
</section>