<title>Pizza Time</title>

<section class="hero py-4 md:py-10 px-2">
  <div class="container mx-auto items-center justify-between md:flex">
    <div class="text-center md:w-1/2 pb-4 md:text-left">
      <h6 class="text-lg"><em>Are you hungry?</em></h6>
      <h1 class="text-2xl font-bold md:text-4xl lg:text-7xl">Don't wait !</h1>
      <a href="#menu">
        <button class="shadow-lg text-xl px-2 md:px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order
          Now</button>
      </a>
    </div>
    <div class="w:1/2 md:w-screen pl-6">
      <img src="/img/hero-pizza1.png" class="rounded-lg">
    </div>
  </div>
</section>

<section class="menu container mx-auto py-4 md:pt-20 px-2 top-2 z-10" id="menu">
  <h1 class="text-xl font-bold mb-12 text-center md:text-3xl">Menu</h1>
  <div class="flex flex-wrap" id="tabs-id">
    <div class="w-full">
      <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 justify-center mb-10">
        <li class="-mb-px mr-2 last:mr-0 text-center">
          <a class="font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-yellow-600 cursor-pointer text-sm pb-4"
            onclick="changeAtiveTab(event,'tab-pizza')">
            <i class="fas fa-pizza-slice mr-2 text-3xl"></i>
            Pizzas
          </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 text-center">
          <a class="font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal bg-white cursor-pointer text-sm pb-4"
            onclick="changeAtiveTab(event,'tab-drink')">
            <i class="fas fa-coffee mr-2 text-3xl"></i>

            Drinks
          </a>
        </li>
      </ul>
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
        <div class="px-4 py-5 flex-auto">
          <div class="tab-content tab-space">
            <div class="block" id="tab-pizza">
              <!-- Pizza -->
              <div
                class="grid gap-x-2 gap-y-16 md:gap-x-4 lg:gap-x-40 gap-y-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <% pizzas.forEach((pizza)=> { %>
                  <% if(pizza.name.includes('Pizza') ) { %>
                    <div class="w-66">
                      <img class="mb-4" src="<%= pizza.image %>" alt="">
                      <div class="text-center">
                        <h2 class="mb-4 text-lg">
                          <%= pizza.name %>
                        </h2>
                        <span class="size py-1 px-4 uppercase text-xs rounded-full">
                          <%= pizza.size %>
                        </span>
                        <div class="flex items-center justify-around mt-6">
                          <span class="font-bold text-lg">
                            <%= pizza.price %> $
                          </span>
                          <button data-pizza="<%= JSON.stringify(pizza) %>"
                            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <% } %>
                      <% }) %>
              </div>
              <!-- End pizza  -->
            </div>
            <div class="hidden" id="tab-drink">
              <!-- Drinks -->
              <div
                class="grid gap-x-2 gap-y-16 md:gap-x-4 lg:gap-x-40 gap-y-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <% pizzas.forEach((pizza)=> { %>

                  <% if(pizza.name.includes("Drink") ) { %>
                    <div class="w-66">
                      <img class="mb-4" src="<%= pizza.image %>" alt="">
                      <div class="text-center">
                        <h2 class="mb-4 text-lg">
                          <%= pizza.name %>
                        </h2>
                        <span class="size py-1 px-4 uppercase text-xs rounded-full">
                          <%= pizza.size %>
                        </span>
                        <div class="flex items-center justify-around mt-6">
                          <span class="font-bold text-lg">
                            <%= pizza.price %> $
                          </span>
                          <button data-pizza="<%= JSON.stringify(pizza) %>"
                            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <% } %>
                      <% }) %>
              </div>
              <!-- End drinks  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  function changeAtiveTab(event, tabID) {
    let element = event.target;
    while (element.nodeName !== "A") {
      element = element.parentNode;
    }
    ulElement = element.parentNode.parentNode;
    aElements = ulElement.querySelectorAll("li > a");
    tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
    for (let i = 0; i < aElements.length; i++) {
      aElements[i].classList.remove("text-white");
      aElements[i].classList.remove("bg-yellow-600");
      aElements[i].classList.add("text-black");
      aElements[i].classList.add("bg-white");
      tabContents[i].classList.add("hidden");
      tabContents[i].classList.remove("block");
    }
    element.classList.remove("text-white");
    element.classList.remove("bg-white");
    element.classList.add("text-white");
    element.classList.add("bg-yellow-600");
    document.getElementById(tabID).classList.remove("hidden");
    document.getElementById(tabID).classList.add("block");
  }
</script>